{{!-- 
 *
 * No citations were used for this page
 * 
 --}}
<div id="modal-backdrop-cuisine" class="hidden"></div>
<div id="update-modal-cuisine" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Edit Cuisine</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>
        <form id="update-cuisine-form" method="POST" action="/update-cuisine-form">
            <div class="modal-body">
                <input type="hidden" name="cuisineID" id="update-cuisineID">

                <div class="post-input-element">
                    <label for="update-type">Cuisine Type</label>
                    <input type="text" name="type" id="update-type">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                <button type="submit" id="modal-accept" class="action-button">Confirm</button>
            </div>
        </form>

    </div>
</div>