{{!-- 
 *
 * No citations were used for this page
 * 
 --}}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="restaurants">Restaurants</a></li>
        <li><a href="locations">Locations</a></li>
        <li><a href="reviews">Reviews</a></li>
        <li><a href="cuisineTypes">Cuisine Types</a></li>
        <li><a href="restaurantChains">Restaurant Chains</a></li>
        <li><a href="restaurantCuisines">Restaurant Cuisines</a></li>
    </ul>
</nav>