{{!-- 
 *
 * No citations were used for this page
 * 
 --}}
<div id="modal-backdrop-restaurant" class="hidden"></div>
<div id="update-modal-restaurant" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Edit Restaurant</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>
        <form id="update-restaurant-form" method="POST" action="/update-restaurant-form">
            <div class="modal-body">
                <input type="hidden" name="restaurantID" id="update-restaurantID">
   

                <div class="post-input-element">
                    <label> Location </label> 
                    <select name="location" id="select-update-location">
                        {{#each restaurantsDropdownData.locationName}}
                        <option data-location="{{this.location}}">{{this.location}}</option>
                        {{/each}}
                    </select>
                </div>       

                <div class="post-input-element">
                    <label> Chain </label>
                    <select name="chain" id="select-update-chain">
                        <option>None</option>
                        {{#each restaurantsDropdownData.chainName}}
                        <option data-chainName="{{this.name}}"> {{this.name}} </option>
                        {{/each}}
                    </select>
                </div>

                <div class="post-input-element">
                    <label> Restaurant Name </label> 
                    <input type="text" name="restaurantName" id="update-restaurantName">
                </div>

                <div class="post-input-element">
                    <label> Description </label> 
                    <input type="text" name="description" id="update-description">
                </div>

                <div class="post-input-element">
                    <label> Average Rating </label> 
                    <select name="avgRating" id="update-avgRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="post-input-element">
                    <label> Average Price </label> 
                    <select name="avgPrice" id="update-avgPrice">
                        <option value="$">$</option>
                        <option value="$$">$$</option>
                        <option value="$$$">$$$</option>
                        <option value="$$$$">$$$$</option>
                        <option value="$$$$$">$$$$$</option>
                    </select>
                </div>

                <div class="post-input-element">
                    <label> Popular Order </label> 
                    <input type="text" name="popularOrder" id="popularOrder">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                <button type="submit" id="modal-accept" class="action-button">Confirm</button>
            </div>
        </form>

    </div>
</div>