{{!-- 
 *
 * No citations were used for this page
 * 
 --}}
<div id="modal-backdrop-RC" class="hidden"></div>
<div id="update-modal-RC" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Edit Restaurants Cuisine</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>
        <form id="update-rc-form" method="POST" action="/update-rc-form">
            <div class="modal-body">
                <input type="hidden" name="restaurantID" id="update-resaurantID">

                {{!-- <label>Restaurant</label> --}}
                <h2 id="restaurantNameNoChange"></h2>

                <div class="post-input-element">
                    <label>Cuisine</label>
                    <select name="type" id="select-cuisine-update">
                        {{#each restaurantCuisinesDropdownData.cuisineTypeName}}
                        <option data-cuisineType="{{this.type}}">{{this.type}}</option>
                        {{/each}}
                    </select>
                </div>

                {{!-- <input type="hidden" name="cuisineType" id="update-type"> --}}
            </div>

            <div class="modal-footer">
                <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                <button type="submit" id="modal-accept" class="action-button">Confirm</button>
            </div>
        </form>

    </div>
</div>

<script>
    
</script>