<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Foodies R Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--
            This 3rd-party stylesheet makes available the font families to be used
            for this page ("Roboto" and "Roboto Slab").
        -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

        <!--
            This 3rd-party stylesheet incorporates SVG icons from Font Awesome:
            http://fontawesome.com/.  Specifically, each of the <i> elements below
            incorporates an icon from Font Awesome.
        -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">

        <link rel="stylesheet" href="/style.css">

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        {{!-- this should the compiled code for our handlebars template (will help us show our data dynamically) --}}
        {{!-- <script src="/foodiesTemplate.js" charset="utf-8" defer></script> --}}
        <script src="/index.js" charset="utf-8" defer></script>
        <script src="/deleteLocation.js" charset="utf-8" defer></script>
        <script src="/deleteCuisineType.js"></script>
        <script src="/deleteRestaurantChains.js"></script>
        <script src="/deleteUser.js"></script>

    </head>
    <body>

        {{{body}}}
    </body>
    <footer>

    </footer>
</html>