{{!-- /*
 * Citation: Citation is from node.js starter code
 * Date: 02/28/2024
 * Adapted from: Github page
 * Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */  --}}
{{>header}}
{{>navbar}}
<main>
  <h1>Cuisine Types</h1>

  <div id="browse">
      <table border="1" cellpadding="5">
        <tr>
          <th></th>
          <th>ID</th>
          <th>Type</th>
        </tr>
        <tr>
          <td><a href="#" onclick="deleteCuisineType('this.cuisineTypeID')">Delete</a></td>
          <td>1</td>
          <td>Italian</td>
        </tr>
        <tr>
          <td><a href="#" onclick="deleteCuisineType('this.cuisineTypeID')">Delete</a></td>
          <td>2</td>
          <td>Mexican</td>
        </tr>
        <tr>
          <td><a href="#" onclick="deleteCuisineType('this.cuisineTypeID')">Delete</a></td>
          <td>3</td>
          <td>Chinese</td>
        </tr>
        <tr>
          <td><a href="#" onclick="deleteCuisineType('this.cuisineTypeID')">Delete</a></td>
          <td>4</td>
          <td>Indian</td>
        </tr>
      </table>
      <p>&nbsp;</p>
  </div> <!-- browse -->
  <p>&nbsp;</p>
</div> <!-- browse -->

<div id="insert" style="display: block">
  <form id="addCuisineType">
      <legend><strong>Add Cuisine Type</strong></legend>
        <fieldset class="fields">
          <label> Type </label> <input type="text" name="type">
        </fieldset>
        <input class="btn" type="submit" id="addCuisineType" value="Add a Cuisine Type">
        <input class="btn" type="button" value="Cancel">
  </form> <!--add new cuisine type-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
<form id="updateCuisineType">
    <legend><strong>Update Cuisine Type</strong></legend>
        <fieldset class="fields">
          <label> Type </label> <input type="text" name="type">
  </fieldset>
  <input class="btn" type="submit" id="UpdateSaveCuisineType" value="Save Update Cuisine Type">
        <input class="btn" type="button" value="Cancel" >
</form> 
</div><!-- update -->

</main>