 <main>
            <h1>Restaurant Chains</h1>

            <div id="browse">
                <table border="1" cellpadding="5">
                  <tr>
                    <th><a href="#" onClick="newRestaurantChain()">New</a></th>
                    <th></th>
                    <th>restaurantChainID</th>
                    <th>name</th>
                  </tr>
                  <tr>
                    <td><a href="#" onClick="updateRestaurantChain('this.restaurantChainID')">Edit</a></td>
                    <td><a href="#" onclick="deleteRestaurantChain('this.restaurantChainID')">Delete</a></td>
                    <td align="right" >1</td>
                    <td >McDonald's</td>
                  </tr>
                  <tr>
                    <td><a href="#" onClick="updateRestaurantChain('this.restaurantChainID')">Edit</a></td>
                    <td><a href="#" onclick="deleteRestaurantChain('this.restaurantChainID')">Delete</a></td>
                    <td align="right" >2</td>
                    <td>Starbucks</td>
                  </tr>
                  <tr>
                    <td><a href="#" onClick="updateRestaurantChain('this.restaurantChainID')">Edit</a></td>
                    <td><a href="#" onclick="deleteRestaurantChain('this.restaurantChainID')">Delete</a></td>
                    <td align="right" >3</td>
                    <td>Subway</td>
                  </tr>
                </table>
                <p>&nbsp;</p>
            </div> <!-- browse -->
            <p>&nbsp;</p>
        </div> <!-- browse -->

        <div id="insert" style="display: block">
            <form id="addRestaurantChain">
                <legend><strong>Add Restaurant Chain</strong></legend>
                  <fieldset class="fields">
                    <label> restaurant chain name </label> <input type="text" name="name">
                  </fieldset>
                  <input class="btn" type="submit" id="addRestaurantChain" value="Add a Restaurant Chain">
                  <input class="btn" type="button" value="cancel">
            </form> <!--add new restaurantChain-->
        </div><!-- insert -->
        
        <p>&nbsp;</p>
        <div id="update" style="display: block">
          <form id="updateRestaurantChain">
              <legend><strong>Update Restaurant Chain</strong></legend>
                  <fieldset class="fields">
                  <label>ID:</label> 1
                    <label> Restaurant Chain Name</label> <input type="text" value="McDonald's" name="name>
            </fieldset>
            <input class="btn" type="submit" id="UpdateSaveRestaurantChain" value="Save Update Restaurant Chain">
                  <input class="btn" type="button" value="cancel" >
          </form> 
        </div><!-- update -->
        <p>&nbsp;</p>
        <div id="delete" style="display: block">
          <form id="deleteRestaurantChain">
              <legend><strong>Delete Restaurant Chain</strong></legend>
                  <fieldset class="fields">
                  <p>Are you sure you wish to delete the following?</p>
                  <label>ID:</label> 1
                    <label> Restaurant Chain Name</label> McDonald's
                    
            </fieldset>
            <input class="btn" type="submit" id="DeleteRestaurantChain" value="Delete Restaurant Chain">
                  <input class="btn" type="button" value="cancel" >
          </form> 
        </div><!-- delete -->
        </main>