<main>
    <h1>Restaurant Cuisines</h1>

    <div id="browse">
        <table border="1" cellpadding="5">
        <tr>
            <th></th>
            <th>Restaurant</th>
            <th>Cuisine</th>
        </tr>
        <tr>
            <td><a href="#" onclick="deleteRestaurantCuisine('this.restaurantCuisineID')">Delete</a></td>
            <td>McDonald's</td>
            <td>Italian</td>
        </tr>
        <tr>
            <td><a href="#" onclick="deleteRestaurantCuisine('this.restaurantCuisineID')">Delete</a></td>
            <td>Starbucks</td>
            <td>Chinese</td>
        </tr>
        <tr>
            <td><a href="#" onclick="deleteRestaurantCuisine('this.restaurantCuisineID')">Delete</a></td>
            <td>Subway</td>
            <td>Mexican</td>
        </tr>
        <tr>
            <td><a href="#" onclick="deleteRestaurantCuisine('this.restaurantCuisineID')">Delete</a></td>
            <td>Subway</td>
            <td>Indian</td>
        </tr>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <p>&nbsp;</p>
    </div> <!-- browse -->

    <div id="insert" style="display: block">
        <form id="addRestaurantCuisine">
            <legend><strong>Add Restaurant Cuisine</strong></legend>
            <fieldset class="fields">
                <label> Type </label> <input type="text" name="type">
            </fieldset>
            <input class="btn" type="submit" id="addRestaurantCuisine" value="Add a Restaurant Cuisine">
            <input class="btn" type="button" value="Cancel">
        </form> <!--add new Restaurant Cuisine-->
    </div><!-- insert -->

    <p>&nbsp;</p>
    <div id="update" style="display: block">
    <form id="updateRestaurantCuisine">
        <legend><strong>Update Restaurant Cuisine</strong></legend>
            <fieldset class="fields">
                <label> Type </label> <input type="text" name="type">
        </fieldset>
        <input class="btn" type="submit" id="UpdateSaveRestaurantCuisine" value="Save Update Restauarant Cuisine">
            <input class="btn" type="button" value="Cancel" >
    </form> 
    </div><!-- update -->

</main>