/*
 *
 * No citations were used for this page
 * 
 */
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
section {
    padding: 20px;
    text-align: center;
}

.home-text{
    padding: 20px;
    text-align: center;
    border: 2px solid #333; /* Border style */
    border-radius: 10px; /* Rounded corners */
}

.entity-list {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.entity-list h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}
.entity-list p {
    color: #666;
}

input {
    width: auto; /* Set initial width to auto */
    min-width: 50px; /* Set minimum width to prevent inputs from collapsing */
  }


#modal-backdrop, #modal-backdrop-user, #modal-backdrop-cuisine, #modal-backdrop-chain, #modal-backdrop-review,  #modal-backdrop-restaurant, #modal-backdrop-RC{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#update-modal, #update-modal-user, #update-modal-cuisine, #update-modal-chain, #update-modal-review, #update-modal-restaurant, #update-modal-RC{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.hidden {
display: none;
}

.modal-dialog {
width: auto;
max-width: 600px;
min-width: 350px;
min-height: 300px;
margin: 40px auto;
background-color: #fff;
border-radius: 15px;
}

.modal-header {
position: relative;
padding: 10px 20px;
}

.modal-header h3 {
margin: 0;
font-size: 28px;
}

#modal-close {
position: absolute;
right: 10px;
top: 5px;
font-size: 24px;
border: none;
background: none;
padding: 0;
cursor: pointer;
}

.modal-body {
padding: 20px;
}

.post-input-element {
display: flex;
align-items: center;
font-size: 20px;
margin: 10px 0;
}

.post-input-element > label {
font-weight: 600;
flex: 1 75px;
margin-right: 10px;
}

.post-input-element input,
.post-input-element select {
flex: 6 200px;
padding: 8px;
font-size: 20px;
border: 1px solid #aaa;
}

.post-fieldset {
flex: 1 100%;
border: 1px solid #ababab;
}

.modal-footer {
display: flex;
justify-content: flex-end;
padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
margin-right: 20px;
}

#modal-cancel {
color: #333;
background-color: #fff;
}

#modal-cancel:hover {
background-color: #eee;
}