body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
section {
    padding: 20px;
    text-align: center;
}

.home-text{
    padding: 20px;
    text-align: center;
    border: 2px solid #333; /* Border style */
    border-radius: 10px; /* Rounded corners */
}

.entity-list {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.entity-list h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}
.entity-list p {
    color: #666;
}